@font-face {
    font-family: "snj";
    src: url("../fonts/ffdin.woff") format('woff');
}

body {background-color: #000;}

.row {
    margin-right: 0;
    margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

p, div {
    font-family: 'Noto Sans', sans-serif;
}

@media (min-width: 768px) {

}
.navbar-nav {
    width: 100%;
    text-align: center;
  }

.navbar-nav > li {
      float: none;
      display: inline-block;
}

#header{
    background-color: #191818;
    height: 223px;
}
.navbar {
  background-color: #191818;
  border-color: #ffffff;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav > li > a {
  color: #ffffff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ccc;
}

.navbar .navbar-nav > li.selected {
  background-color: #000;
}

.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #191818;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #eee;
  background-color: #000;
}
.navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ccc;
  background-color: #000;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}

.navbar .navbar-nav > li > a > span {
    text-transform: uppercase;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0 !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.snj-logo{
    z-index:1010;
    width:250px;
    height:173px;
    float: none;
    margin: 0 auto;
}


.menu-padding {
    padding-top:0;
    overflow: inherit;
}

/**** stickynav

/*
.logo, .intro, .menu, .content {
    padding:10px;
}

.menu {

    background:#428bca;
    color:#fff;
    height:50px;
    line-height:30px;
    letter-spacing:1px;
    width:100%;
}
.content {
    margin-top:10px;
}
.menu-padding {
    padding-top:40px;
}
.content p {
    margin-bottom:20px;
}
.sticky {
    position:fixed;
    top:0;
} ****/



.fa-angle-left:before, .fa-angle-right:before{
    font-size:80px;
    color:#000;
    z-index: 1020;
    -webkit-transition: all 0.14s ease-in-out;
    -moz-transition: all 0.14s ease-in-out;
    -o-transition: all 0.14s ease-in-out;
    -ms-transition: all 0.14s ease-in-out;
}

.fa-angle-left:hover:before, .fa-angle-right:hover:before{
    font-size:100px;
    top:48%
}

.fa-angle-left:before {
    position: absolute;
    top: 50%;
    left:16px;
}

.fa-angle-right:before {
    position: absolute;
    top: 50%;
    right:16px;
}



.front-slideshow {
    margin-top: -20px;
    overflow-x: hidden !important;
}

.frontslide{
    width:100%;
    overflow: visible !important;
    position: relative;
    display: block;
}

.slide-caption-layer{
    position:absolute;
    top:55%;
    left:8%;
    font-size:32px;
    color:#fff;
    max-width:300px;
    background-color: rgba(0,0,0,0.3);
    padding:16px;
    font-weight:300;
    opacity: 0;
    text-transform:uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease;
}

.animate-caption{
    top:43%;
    opacity: 1;
}



/*.feature-box .text-container {
    position:absolute;
    top:0;
    left:0;
    padding:40px;
}

.feature-box-caption h3{
    color:#191818;
    font-weight:600;

}

.feature-box-text p {
    color:#191818;
    font-weight:600;
}*/

figure.feature-box {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #1a1a1a;
  color: #000;
  text-align: left;
}
figure.feature-box * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.feature-box img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.9;
}
figure.feature-box figcaption {
  position: absolute;
  padding: 32px 16px;
  top: 0;
  left: 0;
}
figure.feature-box h1,
figure.feature-box p {
  margin: 0;
  padding: 0;
}

figure.feature-box h1 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.8em;
}
figure.feature-box p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.3em;
}
figure.feature-box a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.feature-box a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

figure.feature-box:hover h1 ,
figure.feature-box.hover h1 {
  color: #fff;
}

figure.feature-box:hover p ,
figure.feature-box.hover p {
  color: #fff;
}

figure.feature-box.black {
  background-color: #000;
}

figure.feature-box:hover img,
figure.feature-box.hover img {
  opacity: 0.1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.feature-box:hover a,
figure.feature-box.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
