{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block extracss %}
<link rel="stylesheet" href='{% static "slick/slick.css" %}' >
{% endblock %}

{% block base_content %}

  <div class="front-slideshow">
      {% placeholder header_1_content %}
  </div>


<div class="container">
  {% placeholder template_1_content %}
  <div class="row">
    <div class="col-xs-12 col-sm-4">
     {% placeholder feature_1_content %}
    </div>
    <div class="col-xs-12 col-sm-4">
     {% placeholder feature_2_content %}
    </div>
    <div class="col-xs-12 col-sm-4">
     {% placeholder feature_3_content %}
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}
{% block extrajs %}
<script src='{% static "slick/slick.min.js" %}'></script>
 <script src='{% static "js/init.slideshow.js" %}'></script>
{% endblock %}